.idea/
out/
node_modules/
TVClock Server- Java.iml
confidential/
.gradle/
build/

StoredCredential

# Ignore the compiled js files in client app folder
**/app/*.js

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
