body {
    background-color: #1e1e1e !important;
    color: white !important;
}

/* Colors */
.white {
    color: white;
}

/* Nav bar*/
.navbar-item {
    margin: 0;
    padding: 0;
    font-size: 18px;
}


/* Status bar */
#status-bar {
    background-color: #68217a;
    color: white;
}

#connection-status {
    margin-left: 6px;
}

.status-bar-text {
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px;

}

.status-bar-btn {
    padding-left: 6px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Task list */
.form-invalid {
    color: #ef3548;
}

.list-group-item-darker {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #464646;
    border: 2px solid rgba(255, 255, 255,.125);
}

.list-item-description {
    font-size: 12px;
    margin-bottom: -8px;
}

.view-sticky-container {
    padding-top: 68px;
}

/* Schedule */
.list-time-item {
    /*margin: 0;*/
    /*padding: 2px;*/
}

/* Used for overwriting the schedule background css color selector*/
.active-important {
    background-color: #007bff !important;
    color: white !important;
}

.white-important {
    color: white !important;
}