<br>
<div class="row">
    <div class="col-6">
        <h3 class="text-center">Active tasks</h3>
    </div>
    <div class="col-6">
        <h3 class="text-center">Task manager</h3>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="container-fluid">
            <ul class="list-group" id="active-tasks-list">
                <!--Active tasks will be injected here-->
            </ul>
        </div>

        <!--Bottom whitespace to account for bottom status bar-->
        <br>
        <br>
        <br>
    </div>
    <div class="col-6">
        <div class="container-fluid sticky-top view-sticky-container">
            <div class="form-group">
                <textarea class="form-control" id="new-task-text" rows="2" placeholder="New task"></textarea>
                <p class="form-invalid" id="new-task-text-error">Enter a task name</p>
            </div>

            <!-- Task property input-->
            <div class="row">
                <div class="col-6">
                    <div class="form-group" >
                        <label for="new-task-start-date" class="col-form-label">Start date</label>
                        <input type="text" class="form-control datetimepicker-input" id="new-task-start-date" data-toggle="datetimepicker" data-target="#new-task-start-date"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="new-task-end-date" class="col-form-label">End date</label>
                        <input type="text" class="form-control datetimepicker-input" id="new-task-end-date" data-toggle="datetimepicker" data-target="#new-task-end-date"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group" >
                        <label for="new-task-priority" class="col-form-label">Priority</label>
                        <input type="number" min="0" max="100000" class="form-control form-control-sm" id="new-task-priority" placeholder="0">
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary" id="add-task-btn">Add task</button>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-warning" id="edit-task-btn">Edit task</button>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-danger" id="remove-task-btn">Remove task</button>
                </div>
            </div>
        </div>
    </div>
</div>

