<div id="background">
    <br>
    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Schedule</h3>
        </div>
        <div class="col-6">
            <h3 class="text-center">Schedule manager</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="list-group" id="view-schedule-scheduleItem-container">
                <!--Schedule items will be injected here-->
            </ul>

            <!--Bottom whitespace to account for bottom status bar-->
            <br>
            <br>
            <br>
        </div>
        <div class="col-6">
            <div class="container-fluid sticky-top view-sticky-container">
                <div>
                    <ul class="list-group" id="view-schedule-periodItem-container">
                        <!--Period items will be injected here-->
<!--                        <li class="list-group-item-darker list-group-flush list-period-item">None</li>-->
                    </ul>
                </div>

                <br>
                <div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" id="schedule-period-add">Add period</button>
                        </div>
                        <div class="col-8" id="period-configuration-menu">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-warning" id="schedule-period-edit">Edit period</button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-danger" id="schedule-period-remove">Remove period</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-11 form-group">
                            <textarea class="form-control" id="new-period-text" rows="1" placeholder="New period"></textarea>
                            <p class="form-invalid" id="new-period-text-error">Enter a period name</p>
                        </div>
                        <div class="col-1">
                            <input type="color" id="new-period-color" value="#464646">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>