<!--js=settingManager.js-->

<br>
<div class="container">
    <h3>Networking</h3>
    <div class="container">
        <div class="form-group row">
            <label for="networking-hostname" class="col-sm-2 col-form-label">Hostname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="networking-hostname">
            </div>
        </div>
        <div class="form-group row">
            <label for="networking-port" class="col-sm-2 col-form-label">Port</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="networking-port">
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="networking-info-update-btn">Update</button>
    </div>

    <br>
    <br>
    <h3>APIs and Services</h3>
    <div class="container">
        <div class="form-group row">
            <label for="openWeatherMap-key" class="col-sm-2 col-form-label">OpenWeatherMap API Key</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="openWeatherMap-key">
            </div>
        </div>
        <div class="form-group row">
            <label for="google-docs-id" class="col-sm-2 col-form-label">Google Docs credentials</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="google-docs-id">
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="api-services-update-btn">Update</button>
    </div>

    <br>
    <br>
    <h3>Font</h3>
    <div class="container">
        <!--Todo, add controllable fonts-->
    </div>
</div>
